html
  body
    form(method='post')
      label(for='email') Email:
      input(type='text', name='email' id='email' placeholder='your email address')
      br
      label(for='password') Password:
      input(type='password', name='password', id='password' placeholder='enter a password')
      br
      button(type='submit') Register
