@font-face {
  font-family: gotham-book;
  src: url(../assets/fonts/GothamRounded-Book.otf);
}
@font-face {
  font-family: gotham-bold;
  src: url(../assets/fonts/GothamRounded-Bold.otf);
}
@font-face {
  font-family: avenir-next;
  src: url(../assets/fonts/avenir-next-regular.woff);
}
@font-face {
  font-family: avenir-next-bold;
  src: url(../assets/fonts/avenir-next-bold.woff);
}

h1, h2 {
  font-family: avenir-next-bold;
}

body {
  font-family: gotham-book;
}
#hero {
  color: white;
  padding: 80px 40px 80px 40px;
  background: #02173f;
}

#img-gw {
  width: 700px;
  height: 350px;
  border: 2px solid #02173f;
  border-radius: 30px;
}
