<form #form='ngForm' (submit)="submitForm(form)">
  <label for="firstName">First Name:</label>
  <input #firstName='ngModel' type="txt" name='firstName' id='firstName' [(ngModel)]='model.firstName'>
  <br>
  <label for="lastName">Last Name:</label>
  <input #lastName='ngModel' type="txt" name='lastName' id='lastName' [(ngModel)]='model.lastName'>
  <br>


  <label>Gender:</label>
  <br>
  <input #gender='ngModel' type="radio" name='gender' id='male' value='male' [(ngModel)]='model.gender' checked>
  <label for="male">Male</label>
  <input #gender='ngModel' type="radio" name='gender' id='female' value='female' [(ngModel)]='model.gender'>
  <label for="female">Female</label>
  <br>
  <label for="major">Major:</label>
  <input #major='ngModel' type="txt" name='major' id='major' [(ngModel)]='model.major'>
  <br>

  <label>University:</label>
  <select id="university" name="university" [(ngModel)]="model.university">
    <option value="{{uni}}" *ngFor="let uni of universities">
      {{ uni }}
    </option>
  </select>
  <br>

  <label for="email">Email:</label>
  <input #email='ngModel' type="email" name='email' id='email' [(ngModel)]='model.email'>
  <br>
  <label for="password">Password:</label>
  <input #password='ngModel' type="password" name='password' id='password' [(ngModel)]='model.password'>
  <br>
  <button type='submit'>Register</button>
</form>
Model: {{ model | json }}
